.chat-box { 
  background-color: whitesmoke;
  font-size: 16px;
  height: calc(100px + 35vh);
  margin-bottom: 2px;
  overflow-y: auto;
  overflow-wrap: break-word;
  padding: 5px;
}


.box {
  background-color: white;
  height: calc(110px + 35vh);
  font-size: 18px;
  position: relative;
  overflow-y: auto;
  color: gray;
  outline: none;
}

option:checked {
  background: lightskyblue;
}

